@charset "UTF-8";

.header_wrap {
	height: 120px;
	display: flow-root;
}

.header_top_inner {
	background-color: #F7F7F7;
	width: 100%;
	margin: 0 auto;
	height: 40px;
}

.header_bottom_inner {
	width: 100%;
	margin: 0 auto;
	height: 83px;
	width: 100%;
}

.header_top_menu {
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}

.menu_topwrap {
	width: 335px;
	height: 40px;
	float: left;
}

.menu_topwrap2 {
	width: 335px;
	height: 40px;
	float: right;
}

.header_bottom_menu {
	width: 1180px;
	height: 83px;
	margin: 0 auto;
}

.menu_wrap {
	height: 83px;
	margin: 0 auto;
	float: left;
	padding-left: 52px;
}

.menu_wrap_Left, .menu_wrap_Right {
	float: left;
}

.menu_wrap_Right {
	padding-left: 28px;
}

.r1 {
	float: left;
	width: 30px;
	height: 83px;
	line-height: 83px;
	padding: 0 25px;
}

.menu1 {
	height: 83px;
	float: left;
	margin-left: 4px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	line-height: 83px;
	text-align: center;
	padding: 0 30px;
}

.menu2 {
	width: 136px;
	height: 83px;
	float: left;
	margin-left: 4px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	line-height: 83px;
	text-align: center;
}

.sub1 {
	z-index: 5000;
	position: relative;
	height: 500px
}

.menu_topwrap {
	height: 100%;
	padding: 10px 0 6px;
}

.menu_topwrap li {
	list-style: none;
	float: left;
	font-size: 13px;
	line-height: normal;
}

.menu_topwrap2 {
	height: 100%;
	padding: 10px 0 6px;
}

.menu_topwrap2 li {
	list-style: none;
	float: left;
	font-size: 13px;
	line-height: normal;
}

.li1:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 12px;
	width: 1px;
	border-left: 1px solid #ccc;
	margin: 0 15px;
}

/*  */
.sbtn{
	position: relative;
    top: -94px;
    left: 88px;
}


