<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.airline.a1.admin.AdminMapper">
  
	<select id="airlineList" resultType="com.airline.a1.admin.AirlineVO">
	select aName from airline order by aName asc
	</select>
	
	<select id="airallList" resultType="com.airline.a1.booking.FlightDataVO">
	select * from flightData 
	order by depPlandTime desc
	</select>
	
	
	<select id="airpartList" parameterType="com.airline.a1.booking.FlightDataVO" resultType="com.airline.a1.booking.FlightDataVO">
	select * from flightData 
	where airlineNm=#{airlineNm}
	order by depPlandTime desc
	</select>
	
	<select id="limoSum" parameterType="java.lang.String" resultType="java.lang.Integer">
		select ifnull(sum(limoPrice),0)
		from (select * from limo where depLoc = #{airport} or arrLoc= #{airport}) L
		where limoDate like '2020-02-%'
	</select>
	
	<select id="limoTotalSum" resultType="java.lang.Integer">
		select ifnull(sum(limoPrice),0)
		from (select * from limo) L
		where limoDate like '2020-02-%'
	</select>
	
	<select id="limoTotalPerson" parameterType="java.lang.String" resultType="java.lang.Integer">
		select ifnull(sum(person) + sum(child),0)
		from (select * from limo where depLoc = #{airport} or arrLoc=#{airport}) L
		where limoDate = curdate()
		
	</select>
	
	<select id="personSum" resultType="java.lang.Integer">
		select ifnull(sum(person) + sum(child),0)
		from (select * from limo) L
		where limoDate = curdate()
	</select>
	
	<select id="todaySum" parameterType="java.lang.String" resultType="java.lang.Integer">
		select ifnull(sum(limoPrice),0)
		from (select * from limo where depLoc = #{airport} or arrLoc= #{airport}) L
		where limoDate = curdate()
	</select>
	
	<select id="limoTodaySum" resultType="java.lang.Integer">
		select ifnull(sum(limoPrice),0)
		from (select * from limo) L
		where limoDate = curdate()
	</select>
	
	<select id="limoMember" resultType="com.airline.a1.limo.LimoVO">
		select * from limo order by id desc;
	</select>
	
	
	
  
  </mapper>