<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.airline.a1.limo.LimoMapper">
  	<select id="myLimo" parameterType="com.airline.a1.limo.LimoVO" resultType="com.airline.a1.limo.LimoVO">
  		select * from limo where id = #{id}
  	</select>
  	
  	<insert id="limoBook" parameterType="com.airline.a1.limo.LimoVO">
  		insert into limo values(0, #{limoDate}, #{limoPrice}, #{id}, #{depLoc}, #{arrLoc}, #{limoTime}, #{seat}, #{person}, #{child})
  	</insert>
  	
  	<select id="limoInfo" parameterType="com.airline.a1.limo.LimoInfoVO" resultType="com.airline.a1.limo.LimoInfoVO">
  		select * from limoInfo where depLoc = #{depLoc}
  	</select>
  		
  	<select id="limoSelect" parameterType="com.airline.a1.limo.LimoVO" resultType="com.airline.a1.limo.LimoVO">
  		select P.* from 
  		(select * from limo where depLoc=#{depLoc} and arrLoc=#{arrLoc}) P 
  		where limoDate=#{limoDate} and limoTime=#{limoTime}
  	</select>
  	
  </mapper>