@charset "UTF-8";

body{
	color: #222;
    font-size: 15px;
}

.location_bar{
	width: 100%;
	height: 48px;
	background: #6d6e70;
}

.inner{
	height: 48px;
	width: 1180px;
	margin: 0 auto;
	background-color: aqua;
}

.home{
	display: inline-block;
	width: 50px;
	height: 48px;
	background: #5f6062 url(/images/board/ico_loca_home.png) center center no-repeat;
	cursor: pointer; 
	
}

#location_select{
	background: #6d6e70;
	width: 280px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-weight: bold;
	font-size: 14px;
	 padding: 0 50px 0 20px;
}

/******* body ********/

#container{
	width: 1180px;
    margin: 0px auto 100px;
}

#container h3{
	margin: 60px 0 50px 0;
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: normal;
    line-height: 1;
}

.total_search_input{
	position: relative;
    padding: 40px 0;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.search_inner{
	height: 44px;
	    margin: 0 auto;
    width: 495px;
}



.white{
	width: 180px;
	height:46px;
	background: #fff url(/images/board/bg_select_arrow.png) no-repeat right 13px top 50%;
	-webkit-appearance:none;
	padding: 0 45px 0 15px;
	font-size: 15px;
	font-weight: bold;
	 margin-right: 10px;
	 margin-left: 240px;
}

select::-ms-expand{ 
	display:none
	}

.white option{
	padding: 0px 2px 1px;
	font-size: 15px;
	font-weight: bold;
}

.common{
		border: 1px solid #cdd1d3;	
}

.common:hover{
	border: 1px solid #d60815;
}

#searchText{
	width: 400px;
	height: 46px;
	vertical-align: top;
	 padding: 0 35px 0 15px;
	 margin-right: -4px;
}

#searchText::placeholder{
	font-size: 16px;
	font-weight: bold;
}

#btnSearch{
	border: 1px solid #d60815;
    background-color: #d60815;
    color: #fff;
    padding: 11px 30px;
    font-size: 15px;
    min-height: 46px;
}

/**** tab ****/

.tab_wrap{
	/* width: 500px;
	margin: 0 auto; */
	margin-top: 50px;
}

ul.tabs{
	margin:0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

ul.tabs li{
	float:left;
	display: inline-block;
/* 	width: 16.37%; */
	width: 16.666%;
	height: 63px;
	line-height: 20px;
/* 	border-bottom: 1px solid #6d6e71; */
	border: 1px solid #6d6e71;
    color: #d60815;
    font-weight: bold;
    cursor: pointer;
    background: #6d6e70;
    text-align: center;
 	padding-top: 20px; 
	/* border-left: 1px solid #fff; */
}

.tab-link span{
	  color: #fff;
	  font-size: 16px;
}

ul.tabs li.current{
	background: #fff;
	color: #222;
/* 	border: 1px solid #6d6e71;
	border-right: none;
   	border-bottom-color: #fff; */
}

ul.tabs li:last-child.current{
    color: #222;
} 


ul.tabs li.current span{
	padding-left: 28px;
    background: url(/images/board/ico_tab_on.png) 0 3px no-repeat;
    color: #000;
    font-weight: bold;
}

.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}

.bbs_list{
	border-top: 1px solid #666666;
	margin-top: 45px;
}

.bbs_list ul{
	padding-left: 0px;
}

.bbs_list li{
	overflow: hidden;
	padding: 20px 25px 21px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.left{
	float: left;
	width: 905px;
	height: 57px;
}

.title{
	width:100%;
	height: 27px;
	padding-top: 1px;
}

.title a{
	text-decoration: none;
	color: black;
}

.title em{
	font-size: 18px;
	font-style: normal;
	font-weight: bolder;
}

.left p{
	margin-top: 8px;
	overflow: hidden;
	font-size: 15px;
	color: #737373;
	font-weight: bolder;
}


.right{
	float: right;
	width: 210px;
	height: 41px;
}

.right_sub{
	width: 100%;
	height: 22px;
	margin-top: 20px;
}

.views{
	display: inline-block;
    min-width: 126px;
    color: #555;
	overflow: hidden;
} 

.date{
	overflow:hidden;
	vertical-align: super;
	font-size:15px;
}

.right_sub span{
	color: #555555;
	font-weight: bolder;
}

/****** paging ******/
.paging{
	display:block;
	margin-top: 30px;
    text-align: center;
	 height: 30px;
}

.btn_common{
	 margin-right: 14px;
    width: 30px;
    height: 30px;
    margin: 0;
    display:inline-block;
	  background: url(/images/board/ico_paging.png);
}

.btn_prev{
	background-position: 0 -30px;
}

.btn_next{
   background-position: 0 -90px;	
}

.pagingNo{
	position: relative;
	display: inline-block;
    min-width: 12px;
    margin: 0 7px;
    vertical-align: middle;
    font-size: 13px;
    color: #555;
	vertical-align: super;
}

.on{
	color: red;
}

.btn_last{
	background-position: 0 -60px;	
}

header {
	height: 123px;
}

#headerBottom {
	height: 48px;
	width: 100%;
	background-color: #6d6e70;
}

#hbh {
	width: 1200px;
	margin: 0 auto;
}

#hbhome {
	float: left;
	width: 50px;
	text-align: center;
	vertical-align: 48px;
	line-height: 48px; 
	height : 48px;
}

#hbhome > i{
	font-size: 30px;
	padding-top: 9px;
	color: white;
}

#hbselect {
	float: left;
}

#hbselect>select {
	width: 279px;
	height: 48px;
	padding: 0 45px 0 15px;
	margin-right: 10px;
	background: #6d6e70 url('/images/mypage/ico_loca_arrow.png') no-repeat right 13px top 50%;
	color: #222;
	vertical-align: middle;
	-webkit-appearance: none;
	color: white;
	border-spacing: 0;
	border-collapse: collapse;
}

#hbselect>select.current.open:after {
    background-position: 0 -8px;
}


#hbselect>select.current:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 8px;
    background: url(/images/mypage/ico_loca_arrow.png) no-repeat right 13px top 50%; ;
}

#hbselect>select:hover{
	background-color: white;
	color: black;
}

/*  */
#realList{
	width: 300px;
	height: 407px;
	color: black;
    top: 204px;
    left: 31px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	position: absolute;
    z-index: 1000;
    	background-color: #f0f0f0;
}

#rtitle{
	width: 300px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
}

.rlist_wrap{
width: 241px;
    margin: 0 auto;
    clear: both;
    padding: 5px 0;
    height: 35px;
}


.rcon{
	float: left;
	padding: 0 3px;
}

.rrank{
	width: 32px;
	text-align: center;
	margin-right: 20px;
}

.rmain{
	width: 100px;
}


.rcon > img {
	width: 25px;
}

.rlast{
text-align: center;
    width: 67px;
}

.rup{
float: left;
    width: 13px;
}


.tcons{
width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    margin-top: 10px;
}

.tact{
color: white;
    line-height: 23px;
    background-color: #d60815;
    padding: 6px;
}

.tact2{
color: #d60815;
font-weight: bolder;
}

/* 실시간 검색어 a */
#rwrap{
	height: 303px;
}



 .rlist_wrap:hover, .rlist_wrap:active {
	text-decoration: none; 
	color:white; 
	background-color:#f55a45;
 }

/* 검색 내용 */
.cate{
	font-weight: bold;
	background-color: #f0f0f0;
	font-size: 22px;
		pointer-events: none;
}

.nolist{
	pointer-events: none;
	color: #6d6e71;
}

.ttitle{
	line-height: 20px;
	font-weight: bold;
	font-size: 17px;
}
