@charset "UTF-8";

.closebtn{
	    margin-right: 350px;
	   color:  #6d6e71;
}
.strong{
	margin-left: 360px;
	background: url('/images/board/bul_tri1_white.png') no-repeat 0 5px;
	vertical-align: middle;
	font-size: 15px;
	line-height: 22px;
	background-position: 0 2px;
	text-align: left;
	padding-left: 30px;
	color: #000;
}

.strong a{
	background: url(/images/board/icon_arrow1_black.png) no-repeat 100% 50%;
	color: #000;
	margin-left: 5px;
	padding: 0 12px 0 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #f96262;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #fff;
}

.swiper-container {
	width: 100%;
	height: 180px;
	margin: 20px auto;
	top: 97px;
}

.bx-wrapper {
	border: none;
	height: 500px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	position: absolute;
	margin-left: 890px;
	margin-bottom: 40px;
}

.swiper-container {
	width: 100%;
	height: 300px;
	margin: 20px auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slider {
	width: 280px;
	height: 180px;
}

.txt1 {
	float: right;
}

/* text */

.text{
	font-weight: bold; 
	position: absolute;
}

.text1{
	left: 1225px;  
	bottom: 233px; 
	font-size: 5em; 
	color:white;
}

.text2{
	left: 400px; 
	width: 450px; 
	bottom: 140px; 
	font-size: 1.8em; 
	color:black;
}

.text2 p{
	color: #f6396c; 
	margin-bottom: 10px;
}

.text3{
	left: 1010px; 
	width: 657px; 
	bottom: 180px; 
	font-size: 1.8em; 
	color:white; 	
}

.text3 p{
	color: darkblue; 
	margin-bottom: 5px; 
	font-size: 30px; 
	font-weight: bolder;	
}

.text4{
	left: 100px; 
	bottom: 227px; 
	font-size: 1.8em; 
	color:white; 
}

.text4 p{
	color: purple; 
	margin-bottom: 5px; 
	font-size: 30px; 
	font-weight: bolder;
}

.text5{
	left: 1070px; 
	bottom: 231px; 
	font-size: 3.0em; 
	color:white;
	
}

.text5 p {
	margin-left: 123px;
}

.text5 span{
	color: #d60815;
	font-weight: bolder;
}

.text6{
	left: 1078px; 
	width: 428px; 
	bottom: 191px; 
	font-size: 1.8em; 
	color:white;
	
}

.text6 p {
	color: red; 
	margin-bottom: 12px; 
	font-size: larger;	
}
/* text 끝 */


.resWrap {
	/* 	z-index: 1;
	width: 1300px;
	height: 300px;
	margin: 0 auto;
	background-color: black;
	position: relative;
	top: -198px; */
	z-index: 10000;
	/* width: 1300px; */
	width:64%;
	height: 212px;
	margin: 0 auto;
	position: relative;
	border-radius: 25px;
	top: -85px;
	background-color: rgba(191, 188, 188, 0.8);
}

.weather {
	margin: 0 auto;
	width: 900px;
	height: 400px;
	background-color: rgba(136, 176, 75, 0.3);
	margin-top: 200px;
}

.credits__container {
	margin-top: 24px;
}

.credits__text {
	text-align: center;
	font-size: 13px;
	line-height: 18px;
}

.credits__link {
	color: #ff8b88;
	text-decoration: none;
	transition: color 250ms ease-in;
}

.credits__link:hover, .credits__link:focus {
	color: rgb(191, 137, 135);
}

.airLine_weather {
	width: 300px;
	height: 30px;
	border-left: 5px solid #d05560;
	margin-left: 30px;
	margin-top: 30px;
}

.airLine_weather_text {
	font-size: 25px;
	margin-left: 15px;
}

.weather {
	margin: 0 auto;
	margin-left: 600px;
	width: 700px;
	height: 470px;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	border-radius: 50px;
	top: 100px;
}

.weather_wrap {
	width: 620px;
	height: 350px;
	margin-left: 140px;
	/* 	background-color:rgba(255,255,255,0.2); */
	position: relative;
}

.weather_select_wrap {
	float: right;
	margin-bottom: 30px;
	margin-right: 120px;
}

#weather_sel {
	background-color: #deeafc;
	width: 200px;
	height: 40px;
	border: 2px solid rgb(89, 92, 160);
	border-radius: 30px;
	font-size: 17px;
	font-weight: bold;
}

#weather_select {
	background-color: transparent;
}

#weather_view {
	margin-top: -300px;
}

.weather_view_wrap {
	width: 300px;
	height: 25px;
	margin-left: 50px;
	border-left: 5px solid #c05f88;
}

.weather_view_wrap2 {
	width: 300px;
	height: 25px;
	margin-left: 50px;
	border-left: 5px solid #e5d07d;
	margin-top: 20px;
}

.weather_view_wrap_text {
	font-size: 20px;
	margin-left: 13px;
	font-weight: bold;
}

.weather_info {
	margin-left: 50px;
}

/* 예약 */
@charset "UTF-8";

/******************* bookingMain1 ********************/
.mid {
	width: 300px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

.large {
	width: 315px;
}

.small {
	width: 280px;
}

#body {
	float: left;
}

#booking_btn {
	float: left;
	position: absolute;
	margin-left: 20px;
}

#locSearch {
	margin-left: 102px;
}

.search {
	position: absolute;
	top: 157px;
	left: -46px;
	border-radius: 10px;
	width: 222px;
	background-color: white;
	font-size: 16px;
	color: #666;
	padding-left: 85px;
	line-height: 36px;
}

#deplocSearch {
	margin-left: 335px;
}

.loctdd {
	cursor: pointer;
}

.loctdd:hover {
	color: red;
}

#quickTraveller{
	width: 220px;
}

#dropList{
	width: 220px;
}

.list-person{
	padding: 0 16px;
}


/* 웹체크인 */
.checkbox_text{
	width: 1180px;
    height: 100px;
    margin: 0 auto;
    pd-top: 240px;
    text-align: center;
    color: black;
    
}

.checkbox_text h2{
	font-size: 50px;
	margin-bottom: 20px;
}

.checkbox_text p{
	font-size: 20px;
}

.search_box {
    position: relative;
    margin-bottom: 20px;
    background: #ffffff8a;
    border-radius: 6px;
}
.mar_to10 {
	width : 1100px;
	position: relative;
    left: 400px;
    top: 70px;
}

.search_box .inner {
    padding: 40px;
    background-color: white;
}

.alC {
    text-align: center !important;
}

#numTypeSelect{
/*     margin-right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-overflow: ellipsis; */
    width: 200px;
    background-color: #f3f3f3;
    margin-bottom: 6px;
    margin-right: 10px;
    font-size: 15px;
}

#numTypeSelect:hover{
	border: 1px solid #d60815;
    background-color: #fff;
    
}

#bookingNum{
	width: 320px;
	background-color: #f3f3f3;
	border: 1px solid #f3f3f3;
    border-bottom: 1px solid #ddd;
}

#bookingNum:hover{
	border: 1px solid #d60815;
    background-color: #fff;
}

#btn_search{
	    margin-left: 5px;
}

.relative_calendar {
    display: inline-block;
    position: relative;
}

.search_box input.input_cal {
    padding-right: 40px;
}

.fp-tableCell input[type="text"] {
    border: none;
    cursor: unset;
    /* font-size: 17px; */
}

.fp-tableCell input.input_cal {
    width: 158px;
    border: 1px solid #ccc;
    color: #222;
    background: #fff url(https://flyasiana.com/C/pc/image/common/icon_calendar.png) center right 20px no-repeat;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
   /*  height: 44px; */
    /* padding: 0 15px; */
   /*  margin-right: 10px; */
    color: #222;
    /* font-size: 16px; */
  /*   line-height: 40px; */
}

.relative_calendar .btn_airport.type2 {
    bottom: 3px;
    right: 5px;
}

.btn_airport.type2 {
    bottom: 8px;
    right: 5px;
    height: 40px;
}

.btn_airport {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 100%;
    z-index: 200;
    background: rgba(255,255,255,0);
}

caption, legend, .hidden {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
}

.calendar_layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    width: 1180px;
    height: auto;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: rgba(0,0,0,.05) 5px 5px 3px;
    box-sizing: border-box;
}

.container h4 {
    margin: 50px 0 30px;
    font-size: 28px;
    color: #000;
    line-height: 1;
}

.calendar_layer .calendar_top {
    position: relative;
    height: 57px;
    z-index: 2;
    padding: 7px 25px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    text-align: left;
}

.calendar_layer .calendar_top select {
    padding-right: 28px;
    border: none;
    font-size: 18px;
    color: #000;
}

.search_box select, .search_box input[type="text"] {
    /* margin-right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-overflow: ellipsis; */
}

select.white {
    height: 40px;
    border: 1px solid #cdd1d3;
    background: #fff url(/images/common/bg_select_arrow.png) no-repeat right 13px top 50%;
}

.calendar_layer .cal_status02 {
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 551px;
    z-index: 3;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.calendar_layer .cal_reset {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 65px;
    z-index: 3;
    width: 19px;
    height: 19px;
    background: url(./images/common/btn_calen_reset.png) 0 0 no-repeat;
}

.cal_reset {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 19px;
    height: 19px;
    background: url(./images/common/btn_calen_reset.png);
}

.calendar_layer .btn_cal_close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 3;
    width: 22px;
    height: 22px;
    background: url(./images/common/btn_close_gray2.png) 0 0 no-repeat;
}

button.red {
    border: 1px solid #d60815;
    background-color: #d60815;
    color: #fff;
}

.btn_M {
    padding: 11px 30px;
    font-size: 15px;
    min-height: 46px;
    line-height: 17px;
}

.btn_L, .btn_M, .btn_S, .btn_XS {
    border-radius: 3px;
    text-align: center;
}

select {
    height: 46px;
    padding: 0 45px 0 15px;
    margin-right: 10px;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3 url(/images/common/bg_select_arrow.png) no-repeat right 13px top 50%;
    background-size: 12px 8px;
    color: #222;
    vertical-align: middle;
    -webkit-appearance:none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 42%;
    top : 1825px;
}

.modal-header {
    padding: 5px 16px;
    height: 50px;
    background-color: #f1f1f1;
}
.modal-header h2{
	font-size : 25px;
}
.modal-header2 {
    background-color: aquamarine;
    height: 95px;
}
.modal-content input[type="text"]:hover {
	border: none;
}
input.input_cal{width:158px;border:1px solid #ccc; color:#222; background:#fff url('https://flyasiana.com/C/pc/image/common/icon_calendar.png') center right 20px no-repeat;}

#bookingNum{
	padding: 0 15px;
	font-size: 16px;
}
#departureDate1{
	padding: 0 15px;
	font-size: 16px;
}



/* 출도착조회 */
.white_step_box{
	width: 1180px;
    margin: 0 auto;
}

.spot_place{
    opacity: 1;
    bottom: 30px;
    color: #555;
    height: 1px;
    left: 60px;
    font-size: 16px;
    position: absolute;
}

.place{
	margin-left: 120px;
    vertical-align: bottom;
}

#inquiry_wrap{
	padding-left: 120px;
}

.ext3{
	float: right;
    min-width: 223px;
    margin-right: 290px;
    margin-top: 5px;
    font-weight: 700;
}

.red:hover{
	background: #a60612
}

#searchDate:hover{
	    border: 1px solid #d60815;
    background-color: #fff;
	
}

.inquiry_wrapper .white_step_box{padding-bottom:25px;}
.inquiry_wrapper .white_step_box .quick_step_wrap .input_wrap .shadow_layer.search_flight{left:235px;}
.inquiry_wrapper .white_step_box .quick_step_wrap .input_wrap .shadow_layer.search_flight.to{left:470px;}
.inquiry_wrapper .quick_step_wrap .btn_revsearch{width:156px;}
.inquiry_wrapper .white_step_box{background:#fff;box-sizing:border-box;padding:40px;}
.quick_step_wrap .input_wrap{position:relative; }
.quick_step_wrap .input_wrap .ipt_elt{position:relative;}
.quick_step_wrap .input_wrap .ipt_elt{position:relative; float:left; margin-right:20px;}
.quick_step_wrap .input_wrap .ipt_elt:before{content:'';display:inline-block;position:absolute;right:5px;bottom:20px;width:20px;height:21px;background:url('https://flyasiana.com/C/pc/image/main/main_icoset.png') -80px -20px no-repeat;z-index:1;}
.inquiry_wrapper .quick_step_wrap .input_wrap .ipt_elt input[type="text"]{height:46px;line-height:46px;border-bottom:2px solid #999;}
.inquiry_wrapper .quick_step_wrap .input_wrap .ipt_elt input[type="text"]{height:46px;line-height:46px;border-bottom:2px solid #999;}
.quick_step_wrap .input_wrap .ipt_elt input[type="text"]{position:relative;padding:0 25px 0 5px; margin-right:0; height:56px;line-height:56px;box-sizing:border-box; color:#222; border:none; border-bottom:2px solid #5c5f67; background:none; outline:none; cursor:pointer;font-size:16px;letter-spacing:0;z-index:2;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
button.gray{border:1px solid #6d6e71;background-color:#6d6e71;color:#fff;}




.departure_list_wrap{position:relative; margin-top:20px;height:auto; max-height:380px;overflow-y:auto;background:#fff;box-shadow:10px 10px 10px rgba(0,0,0,.07);}
.departure_list_wrap .table_list thead tr th{background:#6d6e71;border-color:#999;}
.departure_list_wrap .table_list tbody tr td {font-size:15px;}
.departure_list_wrap .table_list tbody tr td, 
.departure_list_wrap .table_list tbody tr th{padding:8px 25px;}
.departure_list_wrap .status_scd td{color:#737373;}
.departure_list_wrap .status_end td{background:#f7f7f7;color:#000;}
.departure_list_wrap .sc_info{position:relative;}
.departure_list_wrap .sc_info:after{display:block;content:'';clear:both;}
.departure_list_wrap .sc_info dt{float:left;}
.departure_list_wrap .sc_info dd.time{float:right;font-size:16px;font-family:'latofont',sans-serif;}
.departure_list_wrap .sc_info dd.time .no_flight{font-size:15px;font-family:'Noto Sans KR';}
.departure_list_wrap .sc_info dd .nextday{display:inline-block;min-width:45px;margin-left:15px;font-size:13px;color:#d60815;}
.departure_list_wrap .flt_num{font-size:18px;color:#555;font-family:'latofont',sans-serif;font-weight:bold;}

.flt_status{position:relative;}
.flt_status p{color:#555;font-size:13px;}
.flt_status.ico3 p {color:#d60815;font-weight:bold;}		/* 결항 텍스트 케이스 */
.flt_status:before{display:inline-block;content:'';width:40px;height:40px;background:url('../image/sub/ico_flt_status.png') 0 0 no-repeat;}
.flt_status.ico1:before{background-position:0 0;}
.flt_status.ico2:before{background-position:0 -40px;}
.flt_status.ico3:before{background-position:0 -80px;}
.flt_status.ico4:before{background-position:0 -120px;}
.flt_status.ico5:before{background-position:0 -160px;}
.flt_status.ico6:before{background-position:0 -200px;}
.flt_status.ico7:before{background-position:0 -240px;}



/* 체크인 */
@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 250px;
	height: 250px;
	background: #C2185B;
}

.wrapper div {
	position: absolute;
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.5);
}

.circle1 {
	width: 80px;
	height: 80px;
	top: 80px;
	left: 80px;
	/* 추가된 부분 */
	animation: scale1 2s;
}

@
keyframes scale1 { 0% {
	transform: scale(0)
}

100%{
transform


:scale(1)


}
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 60px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	width: 42%;
}

/* Add Animation */
@
-webkit-keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* The Close Button */
.close {
	color: #6d6e70;
    float: right;
    font-size: 28px;
    position: relative;
    font-weight: bold;
    bottom: 8px;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 5px 16px;
    background-color: #f1f1f1;
}

.modal-body {
	padding: 2px 16px;
	margin-top: 20px;
	height: 550px;
}

.modal-footer {
	padding: 15px 16px;
    background-color: #bbbbbb;
    color: black;
    text-align: right;
    height: 50px;
}

.modalInnerWrap {
	height: 100%;
}

.modalInnerLeft {
	width: 55%;
	height: 600px;
	background-color: red;
	float: left;
	height: 85%;
}

.modalInnerRight {
	width: 45%;
	height: 600px;
	float: left;
	height: 85%;
}

.modalInnerRightTop {
	height: 57%;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid #d60815;
    margin-bottom: 10px;
}

.modal-header2 {
	    background-color: #d60815;
    height: 95px;
    color: white;
}

.modalInnerBottom {
	background-color: chocolate;
	width: 45%;
	margin: 0 auto;
	display: inline-block;
	margin-left: 210px;
	height: 55px;
	margin-top: 15px;
}

.left1 {
	height: inherit;
}

.nameView {
	background-color: #d60815;
    height: 50px;
}
.nameViewInner{
	display: inline;
    top: 10px;
    position: relative;
    left: 195px;
    font-size: 20px;
    color: white;
}
.seatView {
	overflow-y: scroll;
	/* height: -webkit-fill-available; */
	height: 362px;
	background: url('../../newni/backgroundTest.png');
	background-attachment:local;
}

.seatView input {
	-webkit-appearance: checkbox;
	width: 10px;
	height: 10px;
	opacity: 1;
}

.seatWarning {
	height: 56px;
	background-color: #6d6e70;
	color: white;
}

.seat1 {
	width: inherit;
	display: inline-table;
	margin-left: 17px;
	width: fit-content;
}

.seat2 {
	width: inherit;
	display: inline-table;
	margin-left: 50px;
	width: fit-content;
}

input[type="text"] {
	/* border: none;
	cursor: unset;
	font-size: 17px; */
}

input:focus {
	outline: none;
}

input[type=checkbox] {
	display: none; 
}

input[type=checkbox]:disabled {
	display: none;
}
.direction {
	text-align: center;
    position: relative;
    top: 30px;
    left: 338px;
    display: inline;
}
.bookable {
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('../../newni/bookableSeat.png') left/22px
		no-repeat;
	height: 30px;
}

.booking {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('../../newni/bookingSeat.png') left/22px
		no-repeat;
	height: 30px;
}

.over {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('../../newni/bookingSeat.png') left/22px	no-repeat;
	height: 30px;
}

.bookend {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('../../newni/bookedSeat.png') left/22px no-repeat;
	height: 30px;
}

.booked {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('../../newni/bookedSeat.png') left/22px no-repeat;
	height: 30px;
}

.area {
	width: 15px;
	display: inline-block;
}

label {
	margin-left: 5px;
}
.depSeat,.arrSeat {
	width: 250px;
	margin-left: 83px;
}
.modalInnerBottom2 {
	margin-top: 30px;
    float: left;
    margin-left: 185px;
    text-align: center;
}
.depBookGo{
	float: left;
    width: 150px;
    background-color: indianred;
}
.bookOk {
	margin-left: 50px;
    float: left;
    width: 150px;
    background-color: darkolivegreen;
}
.seatInfo_bookSeat{
	margin-right: 15px;
    float: left;

}
.modalInnerRightDown {
	height: 334px;
    padding: 15px;
    box-sizing: border-box;
    border: #E22B2A solid 1px;
    margin-left: 10px;
}
.seatInfo_bookedSeat {
	margin-top: 10px;
}
.modalInnerRightDown input {
     background: transparent;
     margin-bottom: 5px;
 }
.modalInnerRightDown div {
	font-size:18px;
	margin-bottom: 5px;
 }
 input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="number"]:hover {
    border: none;
    background-color: transparent;
}
#btn ,#btn2 ,#btn3 {
	height: 50px;
    border-radius: 4px;
    background-color: #d60815;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

#btn span, #btn2 span, #btn3 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#btn span:after,  #btn3 span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
#btn2 span:before {
	content: '\00AB';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	left: -20px;
 	transition: 0.5s;
}
#btn:hover span,  #btn3:hover span{
	padding-right: 25px;
}
#btn2:hover span{
	padding-left: 25px;
}
#btn:hover span:after,  #btn3:hover span:after{
	opacity: 1;
	right: 0;
}
#btn2:hover span:before {
	opacity: 1;
	left: 0;
}
#btn2 {
    position: relative;
    float: left;
    display: inline;
    bottom: 20px;
    width: 200px;
}
#btn3 {
    position: relative;
    left: 165px;
    width: 200px;
    bottom: 70px;
}
#btn{
	    position: relative;
    bottom: 6px;
	
}
.warning {
	position: relative;
    top: 15px;
    left: 120px;
    font-size: 16px;
    text-shadow: -1px 0 #6b6b6b, 0 1px #6b6b6b, 1px 0 #6b6b6b, 0 -1px #6b6b6b;
}

modalInnerRightDown input[type="text"]{
    height: 0;
    padding: 0 15px;
    margin-right: 10px;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #ddd;
    color: #222;
    background-color: #f3f3f3;
    font-size: 16px;
    line-height: 40px;
    width: 280px;
    text-transform: uppercase;
}
.goSeat, .backSeat{
	border-bottom: 1px red solid;
}
input[type="text"]:hover{
	/*     border: 1px solid #ccc;
    background-color: white; */
}
#bookingNum {
	 height: 44px;
}

