@charset "UTF-8";
header{
	height: 123px;
}

section{
	width: 1215px;
	margin: 0 auto;	

}

#muse{
	text-align: right;
}

.milCheck{
	padding-left: 20px;
}


#top{
	height: 170px;
	background-color: #6d6e71;
}

#topWrap{
	width: 1200px;
	height:100%;
	margin: 0 auto;
	color: white;
}

#top1, #top2, #top3, #top4{
	width:278px;
	height:170px;
	float:left;
}


#noti{
min-height: 90px;
    background-color: #f3f4f6;
    padding-bottom: 22px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.45px;
}

#notiWrap{
	width: 1200px;
	height:100%;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 25px;
}

#title{
	padding: 60px 0;
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}

#tmsg{
    padding: 25px 0;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.45px;
}


.bth > td:not(.cnm){
	padding:10px 0;
	border-bottom: 1px solid #ddd;
	background-color: #6d6e70;
	color: #fff;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	width: 100px;
}


.btb > td:not(.cnm){
	padding:20px 0;
	border-top: 1px solid white;
	text-align: center;
	background-color: #f1f1f1;
	width: 100px;
}

.cnmh{
		padding:10px 0;
	border-bottom: 1px solid #ddd;
	background-color: #6d6e70;
	color: #fff;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	width: 100px;
}


.cnm{
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 169px;
    display: block;	
    padding:20px 0;
	border-top: 1px solid white;
	text-align: center;
	background-color: #f1f1f1;
	width: 100px;
}

#tpriceTb{
	margin-left: 926px;
	font-weight: bolder;
	font-size: 20px;
}

.tprice{
	color: #d60815;
	padding-left: 20px;
	text-align: right;
}

#btn {
	cursor: pointer;
	width: 110px;
	height: 50px;
	background-color: #d60815;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	position: relative;
    left: 1078px;
    margin-bottom: 100px;
}

