@charset "UTF-8";


header {
	height: 123px;
}

section {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
}

#top {
	height: 170px;
	background-color: #6d6e71;
}

#topWrap {
	padding-left: 85px;
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	color: white;
}

#top1 {
	width: 295px;
	height: 170px;
	float: left;
}

#top2 {
	width: 295px;
	height: 170px;
	float: left;
}

#top3 {
	width: 295px;
	height: 170px;
	float: left;
}

#top4 {
	width: 295px;
	height: 170px;
	float: left;
}

#noti {
	height: 90px;
	background-color: #f3f4f6;
}

#notiWrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	vertical-align: middle;
	    padding-top: 21px;
}

#title {
	color: #D60815;
	padding: 60px 0 10px 0;
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
}

#tmsg {
	color: #000000;
	padding: 0 0 20px 0;
	font-size: 40px;
	text-align: center;
}

#depT {
	width: 100%;
	clear: both;
	cursor: pointer;
	/* font-size: 18px; */
}

#arrT {
	width: 100%;
	clear: both;
	/* font-size: 18px; */
}

#dateLine {
width: 1074px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 123px;
}

.date1, .date2 {
	float: left;
	cursor: pointer;
	padding: 10px 18.4px;
	border-bottom: 1px gray solid;
	border-top: 1px gray solid;
	-webkit-text-stroke: 0.45px;
}

.act {
	/* color: #D60815; */
	background-color: #f1f1f1;
	font-weight: bold;
}

.bact {
	background-color: #D60815;
	color: white;
}

#deptitle, #arrtitle {
	position: absolute;
	background-color: white;
	color: black;
	font-weight: bold;
	text-align: center;
	color: white;
	line-height: 35px;
}

.td2t{
	width: 225px;
	height: 35px;
}

.td1t, .td7t {
	width:152px;
	height: 35px;
}

.td3t {
	width: 427px;
}

.td1, .td4, .td5, .td6, .td7 {
	width: 100px;
	text-align: center;
}

.td2 {
	width: 195px;
}

.td3 {
	width: 275px;
}

.t2, .t1, .t7{
	font-size: 13px;
}

#deptitle {
top: 620px;
    left: 418px;
    background-color: gray;
    width: 1073px;
    margin: 0 auto;
}

#arrtitle {
top: 1605px;
    left: 418px;
    background-color: gray;
    width: 1073px;
}

#depW, #arrW {
    height: 667px;
	width: 1072px;
	overflow-y: scroll;
	clear: both;
	margin: 0 auto;
	margin-top: -21px;
}



/*  */
.tiLeft, .tiRight {
	float: left;
	padding-top: 7px;
	font-size: 22px;
	font-weight: bold;
}

.timTop, .timBottom {
	text-align: center;
}

.timBottom {
	clear: both;
}

.timmLeft, .timmRight {
	float: left;
	padding-top: 6px;
}

.timmMid {
	float: left;
	width: 131px;
	text-align: center;
	font-size: 14px;
}

.timmM1 {
	clear: both;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
}

.timmM2 {
	padding-top: 6px;
}

.dtrcheck td, .atrcheck td {
    padding: 10px 0;
    vertical-align: middle;
    padding-left: 15px;
}

.dtrcheck, .atrcheck {
	border-bottom: 1px solid #e0dada; 
	cursor: pointer;
}

.aimg {
	background-color: aqua;
	margin: auto;
	width: 50px;
}

#btn {
	cursor: pointer;
	width: 110px;
	height: 50px;
	background-color: #d60815;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.dhide{
	display: none; 
	background-color: #f3ebeb;
	height: 49px;
}

.ahide{
	display: none; 
    background-color: #f3ebeb;
	height: 49px;
}

.cact{
	
}

.grayt{
	-webkit-filter: grayscale(80%);
	filter: gray;
}

.onec{
	cursor: pointer;
}

.plus{
	cursor: pointer;
	pointer-events: auto;
	color: white;
}

.plus2{
	cursor: none;
	pointer-events: none;
	color: #e4dbdb;
}

.plus3{
	cursor: pointer;
	pointer-events: auto;
	color: black;
}


.block{
	color: #e4dbdb;
}

.tnoti{
	-webkit-font-smoothing: antialiased;
-webkit-text-stroke: 0.45px;
}

.gray_box {
	cursor:default;
    position: relative;
    margin-top: 80px;
    padding: 40px;
    background-color: #f7f7f7;
}

.gray_box h5 {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: normal;
    color: #000;
}

.gray_box .list_type2 > li {
    color: #444;
    font-size: 15px;
    cursor:default;
}

.list_type2 > li {
    padding-left: 13px;
    text-indent: -13px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #222;
    text-align: left;
    cursor:default;
}

.gray_box .list_type2 > li:before {
    width: 3px;
    height: 3px;
    cursor:default;
}

.list_type2 > li:before {
    display: inline-block;
    content: '';
    margin: -4px 10px 0 0;
    width: 2px;
    height: 2px;
    background: #555;
    vertical-align: middle;
    cursor:default;
}
