@charset "UTF-8";
header{
	height: 83px;
}

section{
	width: 1200px;
	margin: 0 auto;	
}

#top{
	height: 170px;
	background-color: #6d6e71;
}

#topWrap{
	padding-left:85px;
	width: 1200px;
	height:100%;
	margin: 0 auto;
	color: white;
}

#top1{
	width:295px;
	height:170px;
	float:left;
}

#top2{
	width:295px;
	height:170px;
	float:left;
}

#top3{
	width:295px;
	height:170px;
	float:left;
}

#top4{
	width:295px;
	height:170px;
	float:left;
}

#noti{
	height: 90px;
	background-color: #f3f4f6;
}

#notiWrap{
	width: 1200px;
	height:100%;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 25px;
}

#title{
	padding: 60px 0;
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}

#tmsg{
	padding: 25px 0;
	border-top: gray solid 1px;
	border-bottom: gray solid 1px;
}

