@charset "UTF-8";
header {
	height: 123px;
}

#headerBottom {
	height: 48px;
	width: 100%;
	background-color: #6d6e70;
}

#hbh {
	width: 1200px;
	margin: 0 auto;
}

#hbhome {
	float: left;
	width: 50px;
	text-align: center;
	vertical-align: 48px;
	line-height: 48px; 
	height : 48px;
	background-color: #5f6062;
	height: 48px;
	color: white;
}

#hbhome > i{
	font-size: 30px;
	padding-top: 9px;
}

#hbselect {
	float: left;
}

#hbselect>select {
	width: 279px;
	height: 48px;
	padding: 0 45px 0 15px;
	margin-right: 10px;
	background: #6d6e70 url('/images/mypage/ico_loca_arrow.png') no-repeat right 13px top 50%;
	color: #222;
	vertical-align: middle;
	-webkit-appearance: none;
	color: white;
	border-spacing: 0;
	border-collapse: collapse;
	border-left: none;
}

#hbselect>select.current.open:after {
    background-position: 0 -8px;
}


#hbselect>select.current:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 8px;
    background: url(/images/mypage/ico_loca_arrow.png) no-repeat right 13px top 50%; ;
}

#hbselect>select:hover{
	background-color: #6d6e70;
	color: white;
}