<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.airline.a1.booking.BookingMapper">

<select id="airportList" resultType="java.lang.String">
	select distinct depAirportNm from flightData order by depAirportNm asc
</select>


<select id="airList" parameterType="com.airline.a1.booking.BookingTicketVO" resultType="com.airline.a1.booking.FlightDataVO">
<!-- select * from flightData where depAirportNm = #{depLoc} and arrAirportNm = #{arrLoc} and depPlandTime like concat(#{depStartTime},'%') order by depPlandTime asc -->
select A.*, ifnull(B.seatTotal,0) seatTotal from flightData A left outer join (select count(seatName) seatTotal, fnum from seat group by fnum) B on A.fnum=B.fnum
where A.depAirportNm = #{depLoc} and A.arrAirportNm = #{arrLoc} and A.depPlandTime like concat(#{depStartTime},'%') order by A.depPlandTime asc
</select>

<select id="airportDepList" resultType="com.airline.a1.booking.BookingTicketVO" parameterType="com.airline.a1.booking.BookingTicketVO">
	select distinct arrAirportNm from flightData where depAirportNm = #{depLoc} order by arrAirportNm asc 
</select>

<select id="oneSelect" parameterType="com.airline.a1.booking.FlightDataVO" resultType="com.airline.a1.booking.FlightDataVO">
	select * from flightData where fnum=#{fnum}
</select>

<insert id="bookingInsert" parameterType="com.airline.a1.booking.BookingTicketVO" useGeneratedKeys="true" keyProperty="num">
insert into bookingTicket values 
(#{num}, #{bookingNum}, #{flightBNum}, #{kind}, #{adult}, #{child}, #{depFnum}, #{arrFnum}, 
now(), #{resEmail}, #{resECheck}, #{resPhone}, #{resPCheck}, #{gender}, #{name}, #{birth}, #{memberNum}, #{id})
</insert>



</mapper>
