@charset "UTF-8";

body{
	color: #222;
    font-size: 15px;
}

.location_bar{
	width: 100%;
	height: 48px;
	background: #6d6e70;
}

.inner{
	height: 48px;
	width: 1180px;
	margin: 0 auto;
}

.home{
	display: inline-block;
	width: 50px;
	height: 48px;
	background: #5f6062 url(/images/board/ico_loca_home.png) center center no-repeat;
	cursor: pointer; 
	
}

#location_select{
	background: #6d6e70;
	width: 280px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 14px;
	 padding: 0 50px 0 20px;
}

/**** container ****/

.container{
	width: 1180px;
    margin: 0px auto 100px;	
}

.container h3{
	margin: 60px 0 50px 0;
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: normal;
    line-height: 1;	
}

.list_view{
	border-top: 1px solid #666666;
}

.list_view_title{
	border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 25px 33px;
}

.left{
	width: 820px;
    word-wrap: break-word;
    float: left;
    background-color: lime;
}

.title{
	font-size: 23px;
    color: #000;
    line-height: 32px;
}

