@charset "UTF-8";

body{
	color: #222;
    font-size: 15px;
}

.location_bar{
	width: 100%;
	height: 48px;
	background: #6d6e70;
}

.inner{
	height: 48px;
	width: 1180px;
	margin: 0 auto;
}

.home{
	display: inline-block;
	width: 50px;
	height: 48px;
	background: #5f6062 url(/images/board/ico_loca_home.png) center center no-repeat;
	cursor: pointer; 
	
}

#location_select{
	background: #6d6e70;
	width: 280px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 14px;
	 padding: 0 50px 0 20px;
}

/**** container ****/

.container{
	width: 1180px;
    margin: 0px auto 100px;	
    padding: 0px;
}

.container h3{
	margin: 60px 0 50px 0;
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: normal;
    line-height: 1;	
}

.btn_area{
	overflow: hidden;
}

.btn_area a{
	float: right;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    line-height: 45px;
    width: 90px;
    height: 45px;
  /*   background-color: aquamarine; */
    margin-left: 5px;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

#update_btn{
	border: 1px solid #6d6e71;
    background-color: #6d6e71;
}

#delete_btn{
	border: 1px solid #d60815;
    background-color: #d60815;
}

.list_view{
	border-top: 1px solid #666666;
}

.list_view_title{
	border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    width: 100%;
    height:96px;
    padding: 30px 25px 33px;
	
}

.left{
	width: 820px;
	height:32px;
    word-wrap: break-word;
    float: left;
}

.title{
	font-size: 23px;
    color: #000;
    line-height: 32px;
}

.right{
	float: right;
	vertical-align: middle;
	width: 190px;
	height: 32px;
	font-size: 14px;
    color: #737373;
 
}

.hit{
	width: 90px;
	height: 20px;
	margin-top: 6px;
	float: left;
	border-right:1px solid #ddd; 
	
}

.date{
	line-height: 33px;
    padding-left: 10px;

}
.list_view_cont{
		padding: 40px 25px 78px;
}

.list_view_ctrl{
    margin-top: -1px;
    border-top: 1px solid #666;
}

.list_view_ctrl > div{
	width:1180px;
	height:60px;
	padding: 18px 25px 14px;
    border-bottom: 1px solid #dddddd;
}

.list_view_ctrl span{
	width: 119px;
    padding-left: 32px;
    font-size: 16px;
    color: #737373;
    box-sizing: border-box;
    background-position: 0 9px;
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.prev{
	background-image: url(/images/board/ico_view_arrow_up.png);
} 

.next{
	background-image: url(/images/board/ico_view_arrow_down.png);	
}

.list_view_ctrl a{
	font-size: 18px;
    color: #000000;
}

.btn_wrap{
	margin-top: 50px;
    text-align: center;
}

.btn_wrap a{
	margin: 0 5px;
	border: 1px solid #cccccc;
    background-color: #fff;
    color: #000;
    min-width: 150px;
    padding: 13px 40px 14px;
    font-size: 18px;
    min-height: 56px;
    /* line-height: 21px; */
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

#btnList:hover{
	    border: 1px solid #000000;
}